{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

    <meta charset="utf-8">
    <title>Futuristic Travel</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <script src="{% static 'js/modernizr.js' %}"></script>
    <script defer src="{% static 'js/all.min.js' %}"></script>


</head>

<body id="top">


    <div id="preloader">
        <div id="loader" class="dots-fade">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>


    <header class="s-header">

        <div class="header-logo">
            <a class="site-logo" href="index.html">
              <!--  <img src="images/logo.svg" alt="Homepage"> -->
            </a>
        </div>


    </header>


    <!-- ================================================== -->
    <section id="intro" class="s-intro s-intro--static">

        <div class="grid-overlay">
            <div></div>
        </div>

        <div class="row intro-content">

            <div class="column">

                <div class="intro-content__text">


                    <h1>
                    We are currently <br>
                    insuring your trip <br>
                    to reduce your stress <br>
                    of cancellation
                    </h1>

                </div>

                <div class="intro-content__bottom">

                    <div class="intro-content__counter-wrap">

                    </div>

                    <div class="intro-content__notify modal-trigger">

                    </div>

                </div>

            </div>

        </div>

        <div class="modal">
            <div class="modal__inner">

                <span class="modal__close"></span>

                <form id="mc-form" class="group mc-form" novalidate="true">
                    <input type="email" value="" name="EMAIL" class="email h-full-width h-text-center h-add-half-bottom" id="mc-email" placeholder="Email Address" required="">
                    <input type="submit" name="subscribe" value="Subscribe" class="btn--small h-full-width">
                    <label for="mc-email" class="subscribe-message"></label>
                </form>

            </div>
        </div>



        <div class="intro-scroll">
            <a href="#info" class="scroll-link smoothscroll">
                Scroll For More
            </a>
        </div>

    </section>


    <section id="info" class="s-info">

        <div class="vert-line"></div>

        <div class="row info-content">
            <div class="column">

                <nav class="tab-nav">
                    <ul class="tab-nav__list">
                        <li class="active" data-id="tab-about">
                            <a href="#0">
                                <span>About</span>
                            </a>
                        </li>
                        <li data-id="tab-services">
                            <a href="#0">
                                <span>Cancel/Change Trip</span>
                            </a>
                        </li>
                        <li data-id="tab-contact">
                            <a href="#0">
                                <span>Contact</span>
                            </a>
                        </li>
                    </ul>
                </nav>

                <div class="tab-content">


                    <div id="tab-about" class='tab-content__item'>

                        <div class="row tab-content__item-header">
                            <div class="column">
                                <h1>Hello. We are Futuristic Travel.</h1>
                            </div>
                        </div>

                        <div class="row">
                            <div class="column">
                                <p>
                                  Air travel for a variety of purposes,from leisure to business travel,
                                  has become part of the daily life of many people. There are various
                                  events in people's lives that eventually force them to change their predetermined plans.
                                  Air travel is a predetermined process and for many reasons,
                                  the passenger may want to change the time or cancel their trip. Due to the current
                                  facilities and conditions, returning or changing the ticket time is not an easy task and
                                  usually leads to financial loss for the passenger.

                                  <br><br>This website will help passengers to
                                  insure their travel for a small fee when buying a ticket.Consequently, they do not have to
                                  worry about canceling the ticket or changing the time and they can compensate for unforeseen damages
                                  during the trip with insurance.
                                </p>


                            </div>
                        </div>

                    </div>


                    <div id="tab-services" class='tab-content__item'>

                        <div class="row tab-content__item-header">
                            <div class="column">
                                <h1>Cancel or change the trip</h1>
                            </div>
                        </div>

                        <div class="row">
                            <div class="column">
                                <p class="lead">
                                  To cancel or change your trip, select one of the following trips, and enter your credit card number.
                                </p>
                            </div>
                        </div>

                        <div class="row services-list block-large-1-2 block-medium-1-2 block-tab-full">

                            <div class="column services-list__item" id="avticDiv">
                                <div class="services-list__item-content">
                                    <h4 class="item-title">From: {{ InitialPoint.3 }} <br> To: {{ Destination.3 }}</h4>
                                    <p>
                                      Flight Number: {{FlightNumber.3}}<br>
                                      Date: {{FlightDate.3}}<br>
                                      Time: {{ FlightTime.3 }}<br>
                                      Seat: {{ SeatNumberStart.3 }}<br>
                                      <b>${{ Price.3 }}</b>
                                    </p>
                                    <div class="intro-content__notify">
                                      <div>
                                        <input placeholder="Enter your credit card number" type="text" name="bankCard" id="bankCard">
                                      </div>
                                      <button name="cancel" class="btn btn-default btn-block" id="cancleButton">
                                        Cancel
                                      </button>
                                        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
                                          <script type="text/javascript">
                                              var bankNum;
                                              $("#bankCard").change(function () {
                                                  bankNum = $(this).val();
                                              });
                                          $('#cancleButton').on('click',()=> {
                                                  $.ajax({
                                                      type:"GET",
                                                      url: "/get_bankNum",
                                                      data: {
                                                          'bankNum': bankNum
                                                      },
                                                      dataType: 'text'
                                                  });
                                                  $("#cancleButton").hide();
                                                  $("#myButton").hide();
                                                  $("#bankCard").hide();

                                                  var button = document.createElement("button");
                                                  button.innerHTML = "The trip is done";
                                                   $("#avticDiv").append(button)


                                          }
                                          )
                                          </script>

                                      <button onclick="window.open('https://www.kayak.com/flights')" id="myButton"
                                          class="btn request-callback" >Change</button>
                                      <script type="text/javascript">
                                        $('#myButton').on('click',()=> {
                                                  $.ajax({
                                                      type:"GET",
                                                      url: "/get_bankNum_change",
                                                      data: {
                                                          'bankNum': bankNum
                                                      },
                                                      dataType: 'text'
                                                  });
                                                  $("#cancleButton").hide();
                                                  $("#myButton").hide();
                                                  $("#bankCard").hide();

                                                  var button = document.createElement("button");
                                                  button.innerHTML = "The trip is done";
                                                   $("#avticDiv").append(button)
                                          }
                                          )
                                          </script>

                                      </body>
                                      </html>

                                    </div>

                                </div>
                            </div>

                            <div class="column services-list__item">
                                <div class="services-list__item-content">
                                    <h4 class="item-title">From: {{ InitialPoint.2 }} <br> To: {{ Destination.2 }}</h4>
                                    <p>
                                      Flight Number: {{FlightNumber.2}}<br>
                                      Date: {{FlightDate.2}}<br>
                                      Time: {{ FlightTime.2 }}<br>
                                      Seat: {{ SeatNumberStart.2 }}<br>
                                      <b>${{ Price.2 }}</b>
                                    </p>
                                    <button id="doneButton">
                                      The trip is done.
                                    </button>
                                </div>
                            </div>

                            <div class="column services-list__item">
                                <div class="services-list__item-content">
                                    <h4 class="item-title">From: {{ InitialPoint.1 }} <br> To: {{ Destination.1 }}</h4>
                                    <p>
                                      Flight Number: {{FlightNumber.1}}<br>
                                      Date: {{FlightDate.1}}<br>
                                      Time: {{ FlightTime.1 }}<br>
                                      Seat: {{ SeatNumberStart.1 }}<br>
                                      <b>${{ Price.1 }}</b>
                                    </p>
                                    <button>
                                      The trip is done.
                                    </button>
                                </div>
                            </div>

                            <div class="column services-list__item">
                                <div class="services-list__item-content">
                                    <h4 class="item-title">From: {{ InitialPoint.0 }} <br> To: {{ Destination.0 }}</h4>
                                    <p>
                                    Flight Number: {{FlightNumber.0}}<br>
                                    Date: {{FlightDate.0}}<br>
                                    Time: {{ FlightTime.0 }}<br>
                                    Seat: {{ SeatNumberStart.0 }}<br>
                                    <b>${{ Price.0 }}</b>
                                    </p>
                                    <button>
                                      The trip is done.
                                    </button>
                                </div>
                            </div>

                        </div>

                    </div>


                    <div id="tab-contact" class="tab-content__item">

                        <div class="row tab-content__item-header">
                            <div class="column">
                                <h1>Get In Touch With Us.</h1>
                            </div>
                        </div>

                        <div class="row">
                            <div class="column">
                                <div class="row">
                                    <div class="column large-six tab-full">
                                        <h4>Where to Find Us</h4>

                                        <ul>
                                          <li><a href=mailto:boroomand.bahar@yahoo.co.uk  style="color:#000000;">boroomand.bahar@yahoo.co.uk</a></li>
                                          <li><a href=mailto:peyman.xt@gmail.com  style="color:#000000;">peyman.xt@gmail.com</a></li>
                                          <li><a href=mailto:riasiarman@yahoo.com  style="color:#000000;">riasiarman@yahoo.com</a></li>
                                          <li><a href=mailto:ghazalze@yahoo.com  style="color:#000000;">ghazalze@yahoo.com</a></li>
                                        </ul>

                                    </div>


                                    <div class="column large-six tab-full">
                                        <h4>Follow Us</h4>

                                        <ul class="link-list">
                                            <li><a href="https://github.com/travel-insurance-worker"  style="color:#067b0e;"  target="_blank"><b>GitHub</b></a></li>
                                        </ul>

                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>

                <footer>



                    <div class="ss-go-top">
                        <a class="smoothscroll" title="Back to Top" href="#top">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 0l8 9h-6v15h-4v-15h-6z"></path></svg>
                        </a>
                    </div>

                </footer>

            </div>
    <script src="{% static 'js/jquery-3.2.1.min.js'%}"></script>
    <script src="{% static 'js/plugins.js'%}"></script>
    <script src="{% static 'js/main.js' %}"></script>

</body>
